Django==1.9
Pillow==2.3.0
SecretStorage==2.0.0
argparse==1.2.1
decorator==3.4.0
dj-database-url==0.3.0
django-crispy-forms==1.7.0
django-sql-explorer==1.1.1
django-widget-tweaks==1.4.1
gunicorn==19.6.0
html5lib==0.999
httplib2==0.8
ipython==1.2.1
keyring==3.5
numpy==1.8.2
oauth==1.0.1
paramiko==1.10.1
pexpect==3.1
psycopg2==2.7.3.1
pycrypto==2.6.1
pyparsing==2.0.1
python-dateutil==1.5
python-decouple==3.0
pytz==2012c
requests==2.2.1
six==1.11.0
sqlparse==0.2.4
unicodecsv==0.14.1
whitenoise==3.2
wsgiref==0.1.2
