{% extends 'tracker/index.html' %}
{% load static %}

    {% block subheader %}
    View Event
    {% endblock subheader %}
  
    {% block css %}
    
    <link href="{% static 'tracker/css/event_card.css' %}" rel="stylesheet">
    
    {% endblock css %}
  
  
    {% block content %}
    
    <div class="container" id="tourpackages-carousel">
      <div class="row">
        <div class="col-xs-12"><h1>{{ event.ticket_name }}</h1></div>
        <div class="col-xs-12">
          <div class="thumbnail">
              <div class="caption">
                <div class='col-xs-12'>
                    {% if event.status.pause_event %}
                        {% for s in status_start %}
                            <form id="form_event_start_{{ event.id }}_{{ s.id }}" action="{% url 'event' event.id %}" method="post">
                                         {% csrf_token %}
                                        <input type="hidden" value="{{ event.id }}" name="event" />
                                        <input type="hidden" value="start" name="action" />
                                        <input type="hidden" value="" name="activity"/>
                                 </form>
                                <span onClick="startEvent({{ event.id }}, {{ s.id }})" class="action-icon-start glyphicon glyphicon-play btn btn-lg" aria-hidden="true"></span>
                        {% endfor %}
                    {% elif event.status.start_event %}
                        {% for s in status_pause %}
                            <form id="form_event_pause_{{ event.id }}_{{ s.id }}" action="{% url 'event' event.id %}" method="post">
                                         {% csrf_token %}
                                        <input type="hidden" value="{{ event.id }}" name="event" />
                                        <input type="hidden" value="pause" name="action" />
                                        <input type="hidden" value="" name="activity"/>
                                 </form>
                                <span onClick="pauseEvent({{ event.id }}, {{ s.id }})" class="btn action-icon-pause glyphicon glyphicon-pause btn-lg"></span>
                        {% endfor %}
                        
                        {% for s in status_stop %}
                                <span onClick="stopEvent({{ event.id }}, {{ s.id }})" style="font-size: 50px; padding-top: 0.05em;" class="btn glyphicon glyphicon-ok pull-right text-primary"></span>
                            <form id="form_event_stop_{{ event.id }}_{{ s.id }}" action="{% url 'event' event.id %}" method="post">
                                         {% csrf_token %}
                                        <input type="hidden" value="{{ event.id }}" name="event" />
                                        <input type="hidden" value="stop" name="action" />
                                        <input type="hidden" value="" name="activity"/>
                                 </form>
                           
                    {% endfor %}
    
                    {% endif %}
                </div>
                <div class='col-xs-12 well'>
                    <h4>{{ event.unique_identifier }}</h4> 
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Created</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p><span class="event-label"></span>{{ event.timestamp_start }}</p>
                    </div>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Updated</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p>{{ event.timestamp_updated }}</p>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Date Due</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p>{{ event.date_due }}</p></span>
                    </div>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Status</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p><span class="label {% if event.status.start_event %}label-success{% elif event.status.pause_event %}label-danger{% elif event.status.stop_event %}label-success{% endif %}">{{ event.status }}</p></span>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Team</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p>{{ event.team }}</p></span>
                    </div>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Task Type</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p><span class="label label-info">{{ event.task_type }}</p></span>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Agent</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p>{{ event.agent }}</p></span>
                    </div>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Quantity</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p><span class="label label-info">{{ event.quantity }}</p></span>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <div class='col-xs-2'>
                        <p><span class="event-label">Duration</p></span>
                    </div>
                    <div class='col-xs-4'>
                        <p>{{ event.duration }}</p></span>
                    </div>
                </div>
                <p>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="detailBox">
          <div class="titleBox">
          <label>Comment Box</label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="commentBox">
            
            <p class="taskDescription">I wish this was working</p>
        </div>
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/45/45" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/45/45" />
                    </div>
                    <div class="commentText">
                        <p class="">Kasi hindi pa gumagana eh</p> <span class="date sub-text">on March 5th, 2014</span>
    
                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                      <img src="http://placekitten.com/45/45" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
    
                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Not working pa to ui" />
                </div>
                <div class="form-group">
                    <button style="width:150px;" class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
        </div>
      </div>
    </div>

      
    {% endblock content %}
            


    {% block javascript %}
         <script>
        
        function startEvent(eventID, statusID) {     
                var formname = 'form_event_start_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function stopEvent(eventID, statusID) {     
                var formname = 'form_event_stop_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function pauseEvent(eventID, statusID) {     
                var formname = 'form_event_pause_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        </script>
    {% endblock javascript %}

    







