{% extends 'tracker/base.html' %}
  
    {% block content %}
    
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
             <div>
              <strong>Filter (dynamic filter in the future):</strong> | Tickets Today | Events Today |
              <br>
              <strong>Team View:</strong> <br>
              {% for team in teams %}
                 <a href="{% url 'team' team.id %}">{{ team }}</a> |
              {% endfor %}
            </div>
            <button style="margin: 0.5em" id="comment-button" class="btn btn-large">New</button>
        </div>
      </div>
    </div>
    
    
    {% include 'tracker/table.html' %}
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        {% if events.has_other_pages %}
          <ul class="pagination">
            {% if events.has_previous %}
              <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in events.paginator.page_range %}
              {% if events.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if events.has_next %}
              <li><a href="?page={{ events.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
      </div>
    </div>
      
    {% endblock content %}
            


    {% block javascript %}
    
    
         <script>
        
        function startEvent(eventID, statusID) {     
                var formname = 'form_event_start_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function stopEvent(eventID, statusID) {     
                var formname = 'form_event_stop_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function pauseEvent(eventID, statusID) {     
                var formname = 'form_event_pause_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        </script>
        
        
    {% endblock javascript %}
    







