{% extends 'tracker/base.html' %}
  
    {% block content %}
    
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
             <div>
              <strong>Filter (dynamic filter in the future):</strong> | Tickets Today | Events Today |
              <br>
              <strong>Team View:</strong> <br>
              {% for team in teams %}
                 <a href="{% url 'team' team.id %}">{{ team }}</a> |
              {% endfor %}
            </div>
            <button style="margin: 0.5em" id="comment-button" class="btn btn-large">New</button>
        </div>
      </div>
    </div>
    
    
    {% include 'tracker/table.html' %}
    
    {% include 'tracker/misc/paginator.html' with objects=events only %}
      
    {% endblock content %}
            


    {% block javascript %}
    
    
         <script>
        
        function startEvent(eventID, statusID) {     
                var formname = 'form_event_start_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function stopEvent(eventID, statusID) {     
                var formname = 'form_event_stop_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function pauseEvent(eventID, statusID) {     
                var formname = 'form_event_pause_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        </script>
        
        
    {% endblock javascript %}
    







