{% extends 'tracker/index.html' %}
  
    {% block content %}
    
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
             <div>
              <strong>Filter (dynamic filter in the future):</strong> | Tickets Today | Events Today |
              <br>
            </div>
            
        </div>
      </div>
    </div>
    
    
    {% include 'tracker/table.html' %}
    
    {% include 'tracker/misc/paginator.html' with objects=events only %}
      
    {% endblock content %}
           
    {% block teams %}
    
    {% for team in teams %}
        <li>
              <a href="{% url 'team' team.id %}">{{ team }}</a>
        </li>
    {% endfor %}
    
    {% endblock teams %}
    
    {% block users %}
    
    {% for user in users %}
        <li>
              <a href="{% url 'user' user.id %}">{{ user }} - {{ user.team }} </a>
        </li>
    {% endfor %}
    
    {% endblock users %}
    
    


    {% block javascript %}
    
    
         <script>
        
        function startEvent(eventID, statusID) {     
                var formname = 'form_event_start_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function stopEvent(eventID, statusID) {     
                var formname = 'form_event_stop_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        
        function pauseEvent(eventID, statusID) {     
                var formname = 'form_event_pause_' + eventID + "_" + statusID;
                document.forms[formname].elements["activity"].value = statusID;
                document.getElementById(formname).submit();
        
        }
        </script>
        
        
    {% endblock javascript %}
    







