{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Production Tracker</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'tracker/theme/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'tracker/theme/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'tracker/theme/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'tracker/theme/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'tracker/css/overall.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock css %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'home' %}">OPS Tracker</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <!--
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tables</span>
          </a>
        </li>
        -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Teams">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseTeams" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Teams</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseTeams">
            {% block teams %}
            {% endblock teams %}
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsers" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Users</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseUsers">
            {% block users %}
            {% endblock users %}
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button style="margin: 0.5em" id="new-button" class="btn btn-large">New Event</button>
        <li/>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input style="margin: 0.5em;" class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      {% include 'tracker/task/new_modal.html' %}
      <!-- Breadcrumbs-->
      {% if parent_page != 'home' %}
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">{% block subheader %} {% endblock %}</li>
      </ol>
      {% endif %}
      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> New Event </div>
        <div class="card-body">
        {% block form %}
        {% endblock form %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Events</div>
        <div class="card-body">
          {% block content %}
      
          {% endblock content %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © OPS Tracker 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'tracker/theme/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'tracker/theme/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'tracker/theme/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <!-- <script src="{% static 'tracker/theme/vendor/chart.js/Chart.min.js' %}"></script> -->
    <script src="{% static 'tracker/theme/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'tracker/theme/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'tracker/theme/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'tracker/theme/js/sb-admin-datatables.min.js' %}"></script>
    <!-- <script src="{% static 'tracker/theme/js/sb-admin-charts.min.js' %}"></script> -->
    <script type="text/javascript">
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    <script type="text/javascript">
            $('#new_event').on('hidden.bs.modal', function () {
                var redirect_page = {% if parent_page == 'team' or parent_page == 'user' %}"{% url parent_page id %}"{% else %}"{% url 'home' %}"{% endif %}
                window.location.replace(redirect_page)
            })
            var formAjaxSubmit = function(form, modal) {
             $(form).submit(function (e) {
                 e.preventDefault();
                 $.ajax({
                     type: $(this).attr('method'),
                     url: $(this).attr('action'),
                     data: $(this).serialize(),
                     success: function (xhr, ajaxOptions, thrownError) {
                         if ( $(xhr).find('.has-error').length > 0 ) {
                             $(modal).find('.modal-body').html(xhr);
                             formAjaxSubmit(form, modal);
                         } else {
                             $(modal).modal('toggle');
                         }
                     },
                     error: function (xhr, ajaxOptions, thrownError) {
                         // handle response errors here
                     }
                 });
             });
         }
         $('#new-button').click(function() {
             $('#form-modal-body').load('{% url 'new' %}', function () {
                 $('#new_event').modal('toggle');
                 formAjaxSubmit('#form-modal-body form', '#new_event');
             });
         });
         
         
    </script>
    {% block javascript %}
    
    {% endblock javascript %} 
  </div>
</body>

</html>
