{% load tracker_filters %}
      <div class="row">
        <div class="col-md-12">
          <div>
            <font size="2">
            <table style="width:100%" class="table table-striped table-hover table-condensed table-bordered table-responsive">
                    <tr style="background-color:#428bca;">
                      <!-- <th>Duration</th> -->
                      <!-- <th>Time&nbspUpdated</th> -->
                      <!-- <th>Actions</th> -->
                      <th>Status</th>
                      <!-- <th>Due Date</th> -->
                      <!-- <th>Team</th> -->
                      <!-- <th>Duration</th> -->
                      <th>Agent</th>
                      <th>Task&nbspType</th>
                      <th>Ticket&nbspLink</th>
                      <th>Ticket&nbspName</th>
                      <th>Quantity</th>
                    </tr>
                <form id="status_change"action="{% url 'track' %}" method="post" class="form-inline">
                {% csrf_token %}
                {% for e in events %}
                <tr>
                      <td class='' data-href="{% url 'event' e.id %}" style='white-space: nowrap;' bgcolor={% if e.status.start_event %}"#ffff66" {% elif e.status.pause_event %}"#ff6666"{% else %}"#33ff77"{% endif %}>
                        <div id="div_id_actions" class="form-group form-inline">
                            <input type="hidden" name="event" value="{{ e.id }}">
                            <div class="controls ">
                                <select class="select form-control select-action" id="{{ e.id }}_actions" name="status">
                                    {% for status in data.statuses %}
                                        {% if status == e.status %}
                                            <option value="{{ status.id }}" selected='selected'>{{ status.name }}</option>
                                        {% else %}
                                            {% if e.status.stop_event %}
                                              {% if not status.pause_event %}
                                                <option value="{{ status.id }}">{{ status.name }}</option>
                                              {% endif %}
                                            
                                            {% elif e.status.pause_event %}
                                              {% if not status.stop_event %}
                                                <option value="{{ status.id }}">{{ status.name }}</option>
                                              {% endif %}
                                            
                                            {% else %}
                                              <option value="{{ status.id }}">{{ status.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="checkbox" name="checks" value="{{ e.id }}" />
                            </div>
                        </div>
                
                          
                      
                      </td>
                      <!-- <td>{{ e.team }}</td> -->
                      <!-- <td class='clickable-row' data-href="{% url 'event' e.id %}">{{ e.duration }}</td> -->
                      <!-- <td class='clickable-row' data-href="{% url 'event' e.id %}" style='white-space: nowrap'>{{ e.date_due|date:'m/d/Y' }}</td> -->
                      <td class='clickable-row' data-href="{% url 'event' e.id %}" style='white-space: nowrap'><strong>{{ e.agent.first_name }}</strong></td>
                      
                      <td class='clickable-row' data-href="{% url 'event' e.id %}">{{ e.task_type.name }}</td>
                      <td class='clickable-row' data-href="{% url 'event' e.id %}">{{ e.unique_identifier|truncatechars:32 }}</td>
                      <td class='clickable-row' data-href="{% url 'event' e.id %}">{{ e.ticket_name|truncatechars:32 }}</td>
                      <td class='clickable-row' data-href="{% url 'event' e.id %}">{{ e.quantity }}</td>
                </tr>
                {% endfor %}
                </form>
            </table>
            </font>
          </div>
        </div>
      </div>
 
    
