{% extends 'tracker/index.html' %}
{% load crispy_forms_tags %}

    {% block subheader %}
    {{ team }}
    {% endblock subheader %}

    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <div>
                <strong>Filter (dynamic filter in the future):</strong> | Tickets Today | Events Today |
                <br>
            </div>
        </div>
      </div>
    </div>
    
    
    {% include 'tracker/table.html' %}

      
    {% endblock content %}
    
    {% block form %}
        <form action="{% url 'new_submit' 'team' %}" method="post">
            {% crispy form %}
        </form>
    {% endblock form %}
    
    {% block teams %}
    
    {% for team in teams %}
        <li>
              <a href="{% url 'team' team.id %}">{{ team }}</a>
        </li>
    {% endfor %}
    
    {% endblock teams %}
    
    {% block users %}
    
    {% for user in users_all %}
        <li>
              <a href="{% url 'user' user.id %}">{{ user }} - {{ user.team }} </a>
        </li>
    {% endfor %}
    
    {% endblock users %}
   
    {% block javascript %}
         {% include 'tracker/task/task_action_js.html' %}
    {% endblock javascript %}



  </body>
</html>





